img{
    width: 200px;
    height: 300px;
    }
    a.highlight:link{

        text-decoration: none;
    }
         a.highlight:hover{
            text-decoration: underline;

        }
    p:first-letter{
    font-size: 1.5em;

}